
input.customize {
    &:where([type="checkbox"], [type="radio"]){
        -webkit-appearance : none;
        appearance         : none;
        width              : 13px;
        height             : 13px;
        margin             : calc(0.75em - 7px) 0.25rem 0.20rem 0;
        vertical-align     : top;
        border             : 2px solid #ddd;
        border-radius      : 4px;
        background         : #fff no-repeat center center;
      }

    //   &[type="radio"]{
        // border-radius : 50%;
    //   }

      &:where([type="checkbox"], [type="radio"]):where(:active:not(:disabled), :hover, :checked, :active){
        border-color : #21bfae !important;
        outline      : none;
        border: 1px solid;
      }

      &:where([type="checkbox"], [type="radio"]):disabled{
        background : #eee;
      }

      &[type="checkbox"]:checked,
      &[type="radio"]:checked {
        border: none;
        background-image : url('./../../public/images/checkmark-green.svg');
      }
      // &[type="radio"]:checked{
      //   background-image : url('./../../public/images/radio.svg');
      // }
}
